In [3]:
import pandas as pd
df = pd.read_csv("example.csv")
df

        day  temperature  windspeed   event
0  01/01/23          -10           4  rainy
1  02/01/23          -11           2  snowy
2  03/01/23          -13          10  sunny

In [4]:
weather_data ={
    'day': ['01/01/2023', '02/01/2023', '03/01/2023'],
    'temperature': [-10, -11, -13],
    'windspeed': [4, 2, 10],
    'event': ['rainy', 'snowy', 'sunny']
}
df = pd.DataFrame(weather_data)
df

          day  temperature  windspeed  event
0  01/01/2023          -10          4  rainy
1  02/01/2023          -11          2  snowy
2  03/01/2023          -13         10  sunny

In [5]:
weather_data = [
    ('01/01/2023', -10, 4, 'rainy'),
    ('02/01/2023', -11, 2, 'snowy'),
    ('03/01/2023', -13, 10, 'sunny')
]
df = pd.DataFrame(weather_data, columns=['day', 'temperature', 'windspeed', 'event'])
df

          day  temperature  windspeed  event
0  01/01/2023          -10          4  rainy
1  02/01/2023          -11          2  snowy
2  03/01/2023          -13         10  sunny