In [4]:
import pandas as pd
df = pd.DataFrame({
    'city': ['new york', 'chicago', 'orlando', 'new jersey'],
    'temperature': [21, 14, 35, 30]
})
df

         city  temperature
0    new york           21
1     chicago           14
2     orlando           35
3  new jersey           30

In [5]:
df1 = pd.DataFrame({
    'city': ['chicago', 'new york', 'washington'],
    'humidity': [65, 68, 75]
})
df1

         city  humidity
0     chicago        65
1    new york        68
2  washington        75

In [7]:
df2 = pd.merge(df, df1, on='city', how='outer')
df2

         city  temperature  humidity
0    new york         21.0      68.0
1     chicago         14.0      65.0
2     orlando         35.0       NaN
3  new jersey         30.0       NaN
4  washington          NaN      75.0