In [1]:
import pandas as pd
import numpy as np
import seaborn as sb

In [2]:
df = pd.read_csv(
    "income.csv",
    index_col=None,
    names=['income', 'count'],
    skiprows=1
)
df.head()

   income  count
0    5000   4371
1   10000   3295
2   15000   5825
3   20000   6047
4   25000   6097

In [ ]:
sb.setsns.set(rc={'figure.figsize':(11.7,8.27)})